<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="container">
    <a class="navbar-brand" href="/">Interesant Links</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/links" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">All my links</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Add a new link</a>
          </div>
        </li>

        <li class="nav-item">
          <a href="/profile" class="nav-link">Profile</a>
        </li>

        <li class="nav-item">
          <a href="/logout" class="nav-link">logout</a>
        </li>
        {{else}}
          <li class="nav-item">
            <a href="/signin" class="nav-link">SignIn</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">SignUp</a>
          </li>

        {{/if}}


      </ul>
    </div>
    </div>
</nav>