<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Links</title>
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
    {{! BOOTSTRAP ]}}
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css">
    {{!-- FONT AWESOME --}}
    <script src="https://kit.fontawesome.com/1ed4097e30.js" crossorigin="anonymous"></script>
    {{! ESTILOS }}
    <link rel="stylesheet" href="/src/public/css/styles.css">
</head>
<body>
    {{> navigation }}
    {{{ body }}}


</body>
</html>